body {
  font-family: 'Indie Flower';
}

.card-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: fit-content;
  width: 900px;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 48px;
  overflow: hidden;
}

.leaves {
  height: 200px;
}

.text {
  font-size: 30px;
}

.left {
  text-align: left;
  width: 100%;
  margin-bottom: 8px;
}

.signature {
  font-size: 40px;
  width: 100%;
  text-align: right;
  font-family: 'Homemade Apple';
}